@font-face {
  font-family: 'Noah-Text';
  src: url('./noah-text/Noah\ Text\ Black.otf') format('truetype');
}

@font-face {
  font-family: 'Desyrel';
  src: url('./desyrel/desyrel.ttf') format('truetype'),
}

body {
  font-family: 'Noah-Text';
}
